*{
	padding: 0;
	margin: 0 auto;
}
header{
	font-family: arial;
	width: 980px;
	height: 100px;
	background: orange;
}
header h2{
	font-size: 40px;
	color: white;
	text-align: center;
	padding-top: 10px;
}
header h5{
	font-size: 20px;
	color: red;
	text-align: center;
	padding-top: 10px;
}
#menu{
	background: blue;
	width: 980px;
	height: 32px;
}
#dropdownlist{
	float: left;
	width: 980px;
}
#dropdownlist li{
	padding: 0 30px 0 3	0px;
	border-radius: 50px;
	border: 2px solid white;
	width: 90px;
	list-style: none;
	line-height: 25px;
	margin: 2px;
	float: left;
}
#dropdownlist li a{
	margin-left: 10px;
	color: red;
	text-decoration: none;
	font-weight: bold;
}
#dropdownlist ul{
	display: none;
	padding: 0px;
}
#dropdownlist ul li{
	width: 80px;
	background: green;
}
#dropdownlist li a:hover{
	color: white;
}
#dropdownlist li ul li a{
	color: white;
}
#dropdownlist li ul li a:hover{
	color: orange;
}
